//
   Created by dhnishi on 4/15/15.

div.game(ng-controller="BattleController as battle")
   div.battle
      div.battle-pane
         div(ng-repeat="entity in battle.system.enemies")
            a(ng-click="battle.clickedEntity(entity)")
               div.enemy-image
               div {{entity.getName()}}
                  span {{entity.getStats().hp}}
      div.command-window
         a(ng-click="battle.doOneAction()", ng-show="battle.system.isReady")
            console-output
         div(ng-hide="battle.system.isReady")
            div.actions.col-md-4
               // Need to iterate through all options for the player here.
               div
                  button(ng-click="battle.allyAttack()", ng-hide="battle.system.isBlackjack") Attack
               div
                  button(ng-click="battle.allyHit()", ng-show="battle.system.isBlackjack") Hit
               div
                  button(ng-click="battle.allyStand()", ng-show="battle.system.isBlackjack") Stand
               div
                  button(ng-click="battle.allySpell()") Spell
               div
                  button Item
               div
                  button Defend
               div
                  button(ng-click="battle.testAddAlly()") Add Ally
               div
                  button(ng-click="battle.testAddEnemy()") Add Enemy
               div
                  button(ng-click="battle.deal()") Deal
               div
                  button(ng-click="battle.doOneAction()") Tick
               div
                  a(href="#/character-creation") Lol
            div.allies.col-md-8(ng-hide="battle.chooseSpell")
                  // TODO: Refactor into a directive.
                  div(ng-repeat="entity in battle.system.allies")
                      div.ally
                         span(ng-show="battle.getCurrentEntity() === entity") >
                         span {{entity.name}}
                         div.card(ng-repeat="card in entity.hand.cards")
                            div.suit(ng-class="card.getSuitName()")
                            span
                            div.rank(ng-class="card.getRankName()")
                         span HP&nbsp;
                         span {{entity.getStats().hp}}
             div.col-md-8(ng-show="battle.chooseSpell")
                div(ng-repeat="spell in battle.getCurrentEntity().getSpellList()")
                   button(ng-click="battle.selectSpell(spell)") {{spell.getActionName()}}
   //h2 Hello {{battle.helloWorld}}
   //button(ng-click="battle.deal()") Deal
   //button(ng-click="battle.testAddAlly()") Add Ally
   //button(ng-click="battle.testAddEnemy()") Add Enemy
   //button(ng-click="battle.gogogo()") Gogogo
   //div {{battle.isOver()}}
   //div(ng-repeat="entity in battle.system.allies")
   //   div {{entity}}
   //   button(ng-click="battle.system.hit(entity)") Hit

   //   button(ng-click="battle.system.stand(entity)") Stand
   //   div(ng-repeat="target in battle.system.enemies")
   //      button(ng-click="battle.system.enqueueAction(entity.attack(target))") Attack
   //div Enemies
   //div(ng-repeat="entity in battle.system.enemies")
   //   div {{entity}}
   //   button(ng-click="battle.system.hit(entity)") Hit
   //   button(ng-click="battle.system.stand(entity)") Stand
   //   div(ng-repeat="target in battle.system.allies")
   //      button(ng-click="battle.system.enqueueAction(entity.attack(target))") Attack