//
   Created by dhnishi on 4/15/15.

div.game(ng-controller="BattleController as battle")
   div.battle
      div.battle-pane
         div Enemies!
      div.command-window
         div.actions.col-md-4
            div Attack
            div Spell
            div Defend
         div.allies.col-md-8
               div.ally Herro
               div.ally Herro!
               div.ally Herro
               div.ally Herro!
   //h2 Hello {{battle.helloWorld}}
   //button(ng-click="battle.deal()") Deal
   //button(ng-click="battle.testAddAlly()") Add Ally
   //button(ng-click="battle.testAddEnemy()") Add Enemy
   //button(ng-click="battle.gogogo()") Gogogo
   //div {{battle.isOver()}}
   //div(ng-repeat="entity in battle.system.allies")
   //   div {{entity}}
   //   button(ng-click="battle.system.hit(entity)") Hit
   //   button(ng-click="battle.system.stand(entity)") Stand
   //   div(ng-repeat="target in battle.system.enemies")
   //      button(ng-click="battle.system.enqueueAction(entity.attack(target))") Attack
   //div Enemies
   //div(ng-repeat="entity in battle.system.enemies")
   //   div {{entity}}
   //   button(ng-click="battle.system.hit(entity)") Hit
   //   button(ng-click="battle.system.stand(entity)") Stand
   //   div(ng-repeat="target in battle.system.allies")
   //      button(ng-click="battle.system.enqueueAction(entity.attack(target))") Attack