//
   Created by dhnishi on 4/19/15.

div.game.dialogue(ng-controller="ArenaMenuController as ctrl")
   div.col-md-8
      div Stuff
   div.col-md-4
      div
         a(ng-click="ctrl.startBattle()") Fight in the Arena
      div
         div Shop
      div
         div Heal
      div
         div Something