doctype html
html(ng-app="blackjackApp")
    head
        script(src="../node_modules/angular/angular.js")
        script(src="scripts/Entity.js")
        script(src="scripts/Card.js")
        script(src="scripts/Hand.js")
        script(src="scripts/HandEvaluator.js")
        script(src="scripts/BattleEvaluator.js")
        script(src="scripts/BattleAction.js")
        script(src="scripts/BattleSystem.js")
        script(src="scripts/services/BattleEntitiesService.js")
        script(src="scripts/services/DeckService.js")
        script(src="scripts/controllers/BattleController.js")
        script(src="scripts/main.js")
    body
        div Hello World
        div {{2 + 5}}
        div(ng-controller="BattleController as battle")
            h2 Hello {{battle.helloWorld}}
            button(ng-click="battle.deal()") Deal
            button(ng-click="battle.testAddEntity()") Add Entity
            button(ng-click="battle.gogogo()") Gogogo
            div(ng-repeat="entity in battle.entities")
                div {{entity}}
                button(ng-click="battle.system.hit(entity)") Hit
                button(ng-click="battle.system.stand(entity)") Stand
                div(ng-repeat="target in battle.entities")
                    button(ng-click="battle.system.enqueueAction(entity.attack(target))") Attack
            div(ng-repeat="card in battle.deck")
                div Hello {{card}}