doctype html
html(ng-app="blackjackApp")
    head
        script(src="scripts/components/angular/angular.js")
        script(src="scripts/main.js")
        script(src="scripts/Entity.js")
        script(src="scripts/Card.js")
        script(src="scripts/Hand.js")
        script(src="scripts/HandEvaluator.js")
        script(src="scripts/BattleEvaluator.js")
        script(src="scripts/services/BattleEntitiesService.js")
        script(src="scripts/controllers/BattleController.js")
    body
        div Hello World
        div {{2 + 5}}
        div(ng-controller="BattleController as battle")
            h2 Hello {{battle.helloWorld}}
            div(ng-repeat="entity in battle.entities")
                div Hello {{entity}}