doctype html
html(ng-app="blackjackApp")
    head
        title Battlejack
        link(rel='stylesheet', href='css/battlejack.css')
        link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
    body
        div(ng-view)
        script(src="../bower_components/jquery/dist/jquery.js")
        script(src="../bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="../node_modules/angular/angular.js")
        script(src="../bower_components/angular-route/angular-route.js")
        script(src="scripts/ArenaBattleFactory.js")
        script(src="scripts/Entity.js")
        script(src="scripts/Card.js")
        script(src="scripts/CharacterCreator.js")
        script(src="scripts/Hand.js")
        script(src="scripts/HandEvaluator.js")
        script(src="scripts/BattleEvaluator.js")
        script(src="scripts/BattleAction.js")
        script(src="scripts/BattleSystem.js")
        script(src="scripts/services/BattleEntitiesService.js")
        script(src="scripts/services/ConsoleOutputService.js")
        script(src="scripts/services/DeckService.js")
        script(src="scripts/services/PlayerEntityService.js")
        script(src="scripts/controllers/ArenaMenuController.js")
        script(src="scripts/controllers/BattleController.js")
        script(src="scripts/controllers/CharacterCreationController.js")
        script(src="scripts/directives/ConsoleOutput.js")
        script(src="scripts/main.js")
